/* Navbar Base */
.custom-navbar {
  background: rgba(2, 6, 23, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1e293b;

  /* sticky effect */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Brand */
.brand-text {
  color: #f1f5f9 !important; /* 🔥 light text */
  font-weight: 600;
  font-size: 1.2rem;
}

/* Links */
.custom-link {
  color: #e2e8f0 !important; /* 🔥 light text */
  margin-left: 15px;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover effect */
.custom-link:hover {
  color: #38bdf8 !important;
}

/* Underline animation */
.custom-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.custom-link:hover::after {
  width: 100%;
}

/* Mobile toggle icon fix */
.navbar-toggler {
  border-color: #38bdf8;
}

.navbar-toggler-icon {
  filter: invert(1);
}
/* Active link */
.active-link {
  color: #38bdf8 !important;
}

.active-link::after {
  width: 100% !important;
}